# ADS Project

In [179]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [180]:
# Reading Data
pathInputDir = "../Data Source"


# Currency Information
pathInputDir_Currency = pathInputDir +"/Currency Information/"
EthMarketCap = "export-MarketCap.csv"
dfEthMarketCap = pd.read_csv(pathInputDir_Currency + EthMarketCap, delimiter=',', dtype='str',header=0)

# General Information
pathInputDir_General = pathInputDir +"/General Information/"
AddressCount = "export-AddressCount.csv"
TxGrowth = "export-TxGrowth.csv"
dfAddressCount = pd.read_csv(pathInputDir_General + AddressCount, delimiter=',', dtype='str',header=0)
dfTxGrowth = pd.read_csv(pathInputDir_General + TxGrowth, delimiter=',', dtype='str',header=0)

# Network Information
pathInputDir_Network = pathInputDir +"/Network Information/"
Difficulty = "export-BlockDifficulty.csv"
NetworkHash = "export-NetworkHash.csv"
NetworkUtilization = "export-NetworkUtilization.csv"
TransactionFee = "export-TransactionFee.csv"
dfDifficulty = pd.read_csv(pathInputDir_Network + Difficulty, delimiter=',', dtype='str',header=0)
dfNetworkHash = pd.read_csv(pathInputDir_Network + NetworkHash, delimiter=',', dtype='str',header=0)
dfNetworkUtilization = pd.read_csv(pathInputDir_Network + NetworkUtilization, delimiter=',', dtype='str',header=0)
dfTransactionFee = pd.read_csv(pathInputDir_Network + TransactionFee, delimiter=',', dtype='str',header=0)

# Blockchain Information
pathInputDir_Blockchain = pathInputDir +"/Blockchain Information/"
AvgGasPrice = "export-AvgGasPrice.csv"
BlockCountReward = "export-BlockCountRewards.csv"
BlockSize = "export-BlockSize.csv"
BlockTime = "export-BlockTime.csv"
Ethersupply = "export-Ethersupply.csv"
GasLimit = "export-GasLimit.csv"
GasUsed = "export-GasUsed.csv"
Uncles = "export-Uncles.csv"
dfAvgGasPrice = pd.read_csv(pathInputDir_Blockchain + AvgGasPrice, delimiter=',', dtype='str',header=0)
dfBlockCountReward = pd.read_csv(pathInputDir_Blockchain + BlockCountReward, delimiter=',', dtype='str',header=0)
dfBlockSize = pd.read_csv(pathInputDir_Blockchain + BlockSize, delimiter=',', dtype='str',header=0)
dfBlockTime = pd.read_csv(pathInputDir_Blockchain + BlockTime, delimiter=',', dtype='str',header=0)
dfEthersupply = pd.read_csv(pathInputDir_Blockchain + Ethersupply, delimiter=',', dtype='str',header=0)
dfGasLimit = pd.read_csv(pathInputDir_Blockchain + GasLimit, delimiter=',', dtype='str',header=0)
dfGasUsed = pd.read_csv(pathInputDir_Blockchain + GasUsed, delimiter=',', dtype='str',header=0)
dfUncles = pd.read_csv(pathInputDir_Blockchain + Uncles, delimiter=',', dtype='str', header=0)

# Bitcoin Price
pathInputDir_Bitcoin = pathInputDir +"/bitcoin/"
BTCPrice = "market-price-bitcoin.csv"
dfBTCPrice = pd.read_csv(pathInputDir_Bitcoin + BTCPrice, delimiter=',', dtype='str',header=0)

In [181]:
# Merging data
df_data = dfEthMarketCap.copy()
df_data["addressCount"] = dfAddressCount.Value.values
df_data["txGrowth"] = dfTxGrowth.Value.values
df_data["networkHash"] = dfNetworkHash.Value.values
df_data["networkUtilization"] = dfNetworkUtilization.Value.values
df_data["transactionFee"] = dfTransactionFee.Value.values
df_data["avgGasPrice"] = dfAvgGasPrice.Value.values
df_data["blockCountReward"] = dfBlockCountReward.Value.values
df_data["blockSize"] = dfBlockSize.Value.values
df_data["blockTime"] = dfBlockTime.Value.values
df_data["ethersupply"] = dfEthersupply.Value.values
df_data["gasLimit"] = dfGasLimit.Value.values
df_data["gasUsed"] = dfGasUsed.Value.values
df_data["uncles"] = dfUncles.Value.values
# Merging same date from the dfBTCPrice
df_data["btcPrice"] = dfBTCPrice[1:].sort_index(ascending=False).Price.values

In [182]:
df_data.head()

,Date(UTC),UnixTimeStamp,Supply,MarketCap,Price,addressCount,txGrowth,networkHash,networkUtilization,transactionFee,avgGasPrice,blockCountReward,blockSize,blockTime,ethersupply,gasLimit,gasUsed,uncles,btcPrice
0,7/30/2015,1438214400,72049306.59375,0,0.00,9205,8893,11.5297,0.0000,0,0,6912,644,4.46,39316.09375,0,0,1299,287.0
1,7/31/2015,1438300800,72085498.31250,0,0.00,9361,0,51.4594,0.0000,0,0,6863,582,12.58,36191.71875,0,0,511,283.7
2,8/1/2015,1438387200,72113204.25000,0,0.00,9476,0,57.7845,0.0000,0,0,5293,575,16.34,27705.9375,0,0,334,280.5
3,8/2/2015,1438473600,72141427.68750,0,0.00,9563,0,67.9224,0.0000,0,0,5358,581,16.12,28223.4375,0,0,394,281.4
4,8/3/2015,1438560000,72169404.40625,0,0.00,9639,0,74.5737,0.0000,0,0,5280,587,16.37,27976.71875,0,0,443,281.6

In [183]:
df_data.tail()

,Date(UTC),UnixTimeStamp,Supply,MarketCap,Price,addressCount,txGrowth,networkHash,networkUtilization,transactionFee,avgGasPrice,blockCountReward,blockSize,blockTime,ethersupply,gasLimit,gasUsed,uncles,btcPrice
1495,9/2/2019,1567382400,107581753.65625,19231.31428359125,178.76,74433148,757539,178611.1120,0.9328,562905739994953286014,15926990579,6432,22052,13.14,13630.1875,8003528,47995961497,447,"10,348.8"
1496,9/3/2019,1567468800,107595237.34375,19273.5348653859375,179.13,74499132,751224,179057.3439,0.9420,552067618597657889646,14923674985,6401,21631,13.25,13483.6875,8003288,48244339421,403,"10,612.3"
1497,9/4/2019,1567555200,107608701.65625,18832.5988768603125,175.01,74557943,714432,175086.6283,0.9356,536606366121005796598,14800053906,6392,20683,13.14,13464.3125,8003518,47822191088,401,"10,568.2"
1498,9/5/2019,1567641600,107622333.46875,18767.182510280625,174.38,74626135,769872,178184.2536,0.9427,683625581690153623401,18537447007,6449,21712,13.10,13631.8125,8003433,48615446885,433,"10,566.9"
1499,9/6/2019,1567728000,107635895.21875,19065.5461200971875,177.13,74691099,768500,172733.3243,0.9474,729965679931923221810,18511322392,6383,22022,13.22,13561.75,8002570,48334114602,472,"10,309.3"

In [184]:
# Converting from str
df_data.replace(',','', inplace=True,regex=True)

df_data1 = df_data.loc[:, df_data.columns != 'Date(UTC)'].astype('float')
df_data['Date(UTC)'] = df_data['Date(UTC)'].astype('datetime64')
df_data.loc[:, df_data.columns != 'Date(UTC)'] = df_data1

df_data.head()

,Date(UTC),UnixTimeStamp,Supply,MarketCap,Price,addressCount,txGrowth,networkHash,networkUtilization,transactionFee,avgGasPrice,blockCountReward,blockSize,blockTime,ethersupply,gasLimit,gasUsed,uncles,btcPrice
0,2015-07-30,1.438214e+09,7.204931e+07,0.0,0.0,9205.0,8893.0,11.5297,0.0,0.0,0.0,6912.0,644.0,4.46,39316.09375,0.0,0.0,1299.0,287.0
1,2015-07-31,1.438301e+09,7.208550e+07,0.0,0.0,9361.0,0.0,51.4594,0.0,0.0,0.0,6863.0,582.0,12.58,36191.71875,0.0,0.0,511.0,283.7
2,2015-08-01,1.438387e+09,7.211320e+07,0.0,0.0,9476.0,0.0,57.7845,0.0,0.0,0.0,5293.0,575.0,16.34,27705.93750,0.0,0.0,334.0,280.5
3,2015-08-02,1.438474e+09,7.214143e+07,0.0,0.0,9563.0,0.0,67.9224,0.0,0.0,0.0,5358.0,581.0,16.12,28223.43750,0.0,0.0,394.0,281.4
4,2015-08-03,1.438560e+09,7.216940e+07,0.0,0.0,9639.0,0.0,74.5737,0.0,0.0,0.0,5280.0,587.0,16.37,27976.71875,0.0,0.0,443.0,281.6

In [185]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
Date(UTC)             1500 non-null datetime64[ns]
UnixTimeStamp         1500 non-null float64
Supply                1500 non-null float64
MarketCap             1500 non-null float64
Price                 1500 non-null float64
addressCount          1500 non-null float64
txGrowth              1500 non-null float64
networkHash           1500 non-null float64
networkUtilization    1500 non-null float64
transactionFee        1500 non-null float64
avgGasPrice           1500 non-null float64
blockCountReward      1500 non-null float64
blockSize             1500 non-null float64
blockTime             1500 non-null float64
ethersupply           1500 non-null float64
gasLimit              1500 non-null float64
gasUsed               1500 non-null float64
uncles                1500 non-null float64
btcPrice              1500 non-null float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 222.7 KB

In [186]:
df_data.describe()

,UnixTimeStamp,Supply,MarketCap,Price,addressCount,txGrowth,networkHash,networkUtilization,transactionFee,avgGasPrice,blockCountReward,blockSize,blockTime,ethersupply,gasLimit,gasUsed,uncles,btcPrice
count,1.500000e+03,1.500000e+03,1500.000000,1500.000000,1.500000e+03,1.500000e+03,1500.000000,1500.000000,1.500000e+03,1.500000e+03,1500.000000,1500.00000,1500.000000,1500.000000,1.500000e+03,1.500000e+03,1500.000000,1500.000000
mean,1.502971e+09,9.213726e+07,20230.152321,204.687733,2.152700e+07,3.573513e+05,103992.366783,0.468355,3.479465e+20,2.968093e+10,5666.337333,11803.14200,15.364400,23750.603146,5.864147e+06,1.993741e+10,617.044667,4125.926667
std,3.742477e+07,1.072118e+07,24510.382803,250.083641,2.498827e+07,3.256708e+05,102427.282277,0.372758,4.951416e+20,4.294052e+10,720.416553,9993.41593,2.797517,6437.954850,2.149345e+06,1.830498e+10,370.151816,3947.399550
min,1.438214e+09,7.204931e+07,0.000000,0.000000,9.205000e+03,0.000000e+00,11.529700,0.000000,0.000000e+00,0.000000e+00,2829.000000,575.00000,4.460000,12869.625000,0.000000e+00,0.000000e+00,126.000000,211.400000
25%,1.470593e+09,8.278264e+07,917.140223,10.950000,5.229082e+05,4.175475e+04,4471.975825,0.056725,3.404057e+19,1.497751e+10,5234.250000,1523.00000,13.950000,20230.968750,4.009369e+06,1.351073e+09,376.000000,610.250000
50%,1.502971e+09,9.407962e+07,14216.503048,136.045000,5.975766e+06,3.061815e+05,92156.117400,0.569950,2.910479e+20,2.251696e+10,5946.000000,13026.50000,14.340000,21226.718750,6.715085e+06,1.554304e+10,462.500000,3418.500000
75%,1.535350e+09,1.016003e+08,28674.968092,295.085000,4.406175e+07,6.285058e+05,179726.672575,0.831900,4.513010e+20,2.688101e+10,6080.000000,20983.25000,16.370000,30987.929688,7.997891e+06,3.956602e+10,774.000000,6721.075000
max,1.567728e+09,1.076359e+08,134295.814410,1385.020000,7.469110e+07,1.349890e+06,295911.997400,0.969000,5.862526e+21,9.395883e+11,6912.000000,36630.00000,30.310000,39316.093750,8.004217e+06,4.936428e+10,2096.000000,19345.500000