In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
# Reading Data
pathInputDir = "../Data Source"


# Currency Information
pathInputDir_Currency = pathInputDir +"/Currency Information/"
EthMarketCap = "export-MarketCap.csv"
dfEthMarketCap = pd.read_csv(pathInputDir_Currency + EthMarketCap, delimiter=',', dtype='str',header=0)

# General Information
pathInputDir_General = pathInputDir +"/General Information/"
AddressCount = "export-AddressCount.csv"
TxGrowth = "export-TxGrowth.csv"

dfAddressCount = pd.read_csv(pathInputDir_General + AddressCount, delimiter=',', dtype='str',header=0)
dfTxGrowth = pd.read_csv(pathInputDir_General + TxGrowth, delimiter=',', dtype='str',header=0)

# Network Information
pathInputDir_Network = pathInputDir +"/Network Information/"
Difficulty = "export-BlockDifficulty.csv"
NetworkHash = "export-NetworkHash.csv"
NetworkUtilization = "export-NetworkUtilization.csv"
TransactionFee = "export-TransactionFee.csv"

dfDifficulty = pd.read_csv(pathInputDir_Network + Difficulty, delimiter=',', dtype='str',header=0)
dfNetworkHash = pd.read_csv(pathInputDir_Network + NetworkHash, delimiter=',', dtype='str',header=0)
dfNetworkUtilization = pd.read_csv(pathInputDir_Network + NetworkUtilization, delimiter=',', dtype='str',header=0)
dfTransactionFee = pd.read_csv(pathInputDir_Network + TransactionFee, delimiter=',', dtype='str',header=0)


# Blockchain Information
pathInputDir_Blockchain = pathInputDir +"/Blockchain Information/"
AvgGasPrice = "export-AvgGasPrice.csv"
BlockCountReward = "export-BlockCountRewards.csv"
BlockSize = "export-BlockSize.csv"
BlockTime = "export-BlockTime.csv"
Ethersupply = "export-Ethersupply.csv"
GasLimit = "export-GasLimit.csv"
GasUsed = "export-GasUsed.csv"
Uncles = "export-Uncles.csv"

dfAvgGasPrice = pd.read_csv(pathInputDir_Blockchain + AvgGasPrice, delimiter=',', dtype='str',header=0)
dfBlockCountReward = pd.read_csv(pathInputDir_Blockchain + BlockCountReward, delimiter=',', dtype='str',header=0)
dfBlockSize = pd.read_csv(pathInputDir_Blockchain + BlockSize, delimiter=',', dtype='str',header=0)
dfBlockTime = pd.read_csv(pathInputDir_Blockchain + BlockTime, delimiter=',', dtype='str',header=0)
dfEthersupply = pd.read_csv(pathInputDir_Blockchain + Ethersupply, delimiter=',', dtype='str',header=0)
dfGasLimit = pd.read_csv(pathInputDir_Blockchain + GasLimit, delimiter=',', dtype='str',header=0)
dfGasUsed = pd.read_csv(pathInputDir_Blockchain + GasUsed, delimiter=',', dtype='str',header=0)
dfUncles = pd.read_csv(pathInputDir_Blockchain + Uncles, delimiter=',', dtype='str', header=0)

# Bitcoin Price
pathInputDir_Bitcoin = pathInputDir +"/bitcoin/"
BTCPrice = "market-price-bitcoin.csv"

dfBTCPrice = pd.read_csv(pathInputDir_Bitcoin + BTCPrice, delimiter=',', dtype='str',names=["Date","BTC_Price"])


dfBTCPrice.tail()

                     Date           BTC_Price
1295  2019-08-24 00:00:00  10158.540833333334
1296  2019-08-27 00:00:00  10176.794166666667
1297  2019-08-30 00:00:00   9539.253333333334
1298  2019-09-02 00:00:00   9937.605000000001
1299  2019-09-05 00:00:00  10559.038333333332

In [27]:
# Merge Data on TimeStamp to create data source

source_df = EthPrice.merge(address_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(supply_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(hash_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(fee_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(growth_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df.head()

NameError: name 'price_df' is not defined

In [59]:
display(dfAvgGasPrice.tail())
display(dfBlockCountReward.tail())
display(dfBlockSize.tail())
display(dfBlockTime.tail())
display(dfEthersupply.tail())
display(dfGasLimit.tail())
display(dfGasUsed.tail())
display(dfUncles.tail())

     Date(UTC) UnixTimeStamp        Value
1495  9/2/2019    1567382400  15926990579
1496  9/3/2019    1567468800  14923674985
1497  9/4/2019    1567555200  14800053906
1498  9/5/2019    1567641600  18537447007
1499  9/6/2019    1567728000  18511322392

     Date(UTC) UnixTimeStamp Value
1495  9/2/2019    1567382400  6432
1496  9/3/2019    1567468800  6401
1497  9/4/2019    1567555200  6392
1498  9/5/2019    1567641600  6449
1499  9/6/2019    1567728000  6383

     Date(UTC) UnixTimeStamp  Value
1495  9/2/2019    1567382400  22052
1496  9/3/2019    1567468800  21631
1497  9/4/2019    1567555200  20683
1498  9/5/2019    1567641600  21712
1499  9/6/2019    1567728000  22022

     Date(UTC) UnixTimeStamp  Value
1495  9/2/2019    1567382400  13.14
1496  9/3/2019    1567468800  13.25
1497  9/4/2019    1567555200  13.14
1498  9/5/2019    1567641600  13.10
1499  9/6/2019    1567728000  13.22

     Date(UTC) UnixTimeStamp       Value
1495  9/2/2019    1567382400  13630.1875
1496  9/3/2019    1567468800  13483.6875
1497  9/4/2019    1567555200  13464.3125
1498  9/5/2019    1567641600  13631.8125
1499  9/6/2019    1567728000    13561.75

     Date(UTC) UnixTimeStamp    Value
1495  9/2/2019    1567382400  8003528
1496  9/3/2019    1567468800  8003288
1497  9/4/2019    1567555200  8003518
1498  9/5/2019    1567641600  8003433
1499  9/6/2019    1567728000  8002570

     Date(UTC) UnixTimeStamp        Value
1495  9/2/2019    1567382400  47995961497
1496  9/3/2019    1567468800  48244339421
1497  9/4/2019    1567555200  47822191088
1498  9/5/2019    1567641600  48615446885
1499  9/6/2019    1567728000  48334114602

     Date(UTC) UnixTimeStamp Value
1495  9/2/2019    1567382400   447
1496  9/3/2019    1567468800   403
1497  9/4/2019    1567555200   401
1498  9/5/2019    1567641600   433
1499  9/6/2019    1567728000   472

In [60]:
df_data = dfEthMarketCap.copy()
df_data["addressCount"] = dfAddressCount.Value.values
df_data["txGrowth"] = dfTxGrowth.Value.values
df_data["networkHash"] = dfNetworkHash.Value.values
df_data["networkUtilization"] = dfNetworkUtilization.Value.values
df_data["transactionFee"] = dfTransactionFee.Value.values

df_data["avgGasPrice"] = dfAvgGasPrice.Value.values
df_data["blockCountReward"] = dfBlockCountReward.Value.values
df_data["blockSize"] = dfBlockSize.Value.values
df_data["blockTime"] = dfBlockTime.Value.values
df_data["ethersupply"] = dfEthersupply.Value.values
df_data["gasLimit"] = dfGasLimit.Value.values
df_data["gasUsed"] = dfGasUsed.Value.values
df_data["uncles"] = dfUncles.Value.values

In [61]:
df_data

,Date(UTC),UnixTimeStamp,Supply,MarketCap,Price,addressCount,txGrowth,networkHash,networkUtilization,transactionFee,avgGasPrice,blockCountReward,blockSize,blockTime,ethersupply,gasLimit,gasUsed,uncles
0,7/30/2015,1438214400,72049306.59375,0,0.00,9205,8893,11.5297,0.0000,0,0,6912,644,4.46,39316.09375,0,0,1299
1,7/31/2015,1438300800,72085498.31250,0,0.00,9361,0,51.4594,0.0000,0,0,6863,582,12.58,36191.71875,0,0,511
2,8/1/2015,1438387200,72113204.25000,0,0.00,9476,0,57.7845,0.0000,0,0,5293,575,16.34,27705.9375,0,0,334
3,8/2/2015,1438473600,72141427.68750,0,0.00,9563,0,67.9224,0.0000,0,0,5358,581,16.12,28223.4375,0,0,394
4,8/3/2015,1438560000,72169404.40625,0,0.00,9639,0,74.5737,0.0000,0,0,5280,587,16.37,27976.71875,0,0,443
5,8/4/2015,1438646400,72197882.84375,0,0.00,9696,0,82.0352,0.0000,0,0,5368,587,16.10,28478.4375,0,0,458
6,8/5/2015,1438732800,72225411.43750,0,0.00,9749,0,86.1558,0.0000,0,0,5235,579,16.51,27528.59375,0,0,371
7,8/6/2015,1438819200,72252486.90625,0,0.00,9790,0,88.3326,0.0000,0,0,5116,584,16.89,27075.46875,0,0,411
8,8/7/2015,1438905600,72279924.56250,200.215391038125,2.77,10314,2050,95.2981,0.1317,37318413511279304835,604684154870,5189,633,16.65,27437.65625,122980,49353826,409
9,8/8/2015,1438992000,72307868.00000,58.56937308,0.81,10730,2881,104.8971,0.0468,68099970071856826797,322713574989,5256,668,16.44,27943.4375,1940277,376006093,458
10,8/9/2015,1439078400,72335046.28125,53.527934248125,0.74,11004,1329,109.6916,0.0024,14098949703205590944,475467129048,5123,618,16.86,27178.28125,3141325,38863003,421
11,8/10/2015,1439164800,72362863.62500,49.206747265,0.68,11679,2037,120.5988,0.0045,31165144438378735884,421654904254,5255,631,16.44,27817.34375,3141511,74070061,415
12,8/11/2015,1439251200,72390891.43750,76.73434492375,1.06,13576,4963,134.7695,0.0099,11311448586019755030,77838819162,5280,692,16.37,28027.8125,3141521,163481740,438
13,8/12/2015,1439337600,72418262.37500,90.52282796875,1.25,13913,2036,143.0004,0.0044,32586992404377741650,444902379011,5124,653,16.86,27370.9375,3141555,70102332,474
14,8/13/2015,1439424000,72446530.50000,128.95482429,1.78,14459,2842,156.6101,0.0053,24929169109943118841,268683475202,5286,666,16.34,28268.125,3141552,88234087,504
15,8/14/2015,1439510400,72477637.21875,130.45974699375,1.80,15024,3174,196.7576,0.0043,14354834112827458118,193455494453,5809,660,14.88,31106.71875,3141575,78746522,555
16,8/15/2015,1439596800,72506149.87500,129.78600827625,1.79,15407,2284,227.6650,0.0035,8836593028046850811,144368937208,5382,638,16.04,28512.65625,3141584,59565914,441
17,8/16/2015,1439683200,72533244.40625,99.3705448365625,1.37,15698,2440,231.8948,0.0036,6677237924905556046,120940093311,5132,641,16.84,27094.53125,3141581,58241191,385
18,8/17/2015,1439769600,72561363.31250,87.073635975,1.20,15984,2512,258.9066,0.0036,7642811839634956979,132149993345,5347,635,16.16,28118.90625,3141589,60515132,377
19,8/18/2015,1439856000,72587526.12500,92.18615817875,1.27,16268,2494,270.4645,0.0043,11906071340176042601,146513014268,4948,648,17.46,26162.8125,3141585,66816413,390
20,8/19/2015,1439942400,72614808.15625,91.494658276875,1.26,16553,3246,284.0496,0.0056,15430950669480218002,194583349948,5192,653,16.64,27282.03125,3141611,91746712,361
21,8/20/2015,1440028800,72635865.18750,107.5010804775,1.48,16773,2303,221.4382,0.0050,6855566942706630722,99011782801,4024,650,21.47,21057.03125,3141608,63112713,257
22,8/21/2015,1440115200,72662556.12500,104.63408082,1.44,17070,3919,277.2820,0.0067,7855041724705318491,79543407701,5088,668,16.98,26690.9375,3141620,106379973,338
23,8/22/2015,1440201600,72690106.59375,101.0392481653125,1.39,17313,3579,312.6127,0.0055,42547171829582457556,552841333007,5271,648,16.39,27550.46875,3141669,90744195,323
24,8/23/2015,1440288000,72716362.21875,98.1670889953125,1.35,17662,4190,317.1623,0.0075,8049767672901801716,73439482806,5013,681,17.24,26255.625,3141828,117802449,320
25,8/24/2015,1440374400,72743695.50000,90.20218242,1.24,17839,4432,333.3458,0.0060,8876285419798610754,92409814705,5184,673,16.67,27333.28125,3141762,97648912,377
26,8/25/2015,1440460800,72770431.59375,85.1414049646875,1.17,18089,4487,325.2465,0.0071,8259755825110535782,76432335617,5097,680,16.95,26736.09375,3141658,114480057,335
27,8/26/2015,1440547200,72796569.56250,84.4440206925,1.16,18298,4156,343.1277,0.0063,7447729278556984663,60481160549,5003,669,17.27,26137.96875,3141656,99511209,303
28,8/27/2015,1440633600,72821102.37500,82.28784568375,1.13,18508,5590,341.1168,0.0100,8670963042887940562,59307091958,4708,708,18.35,24532.8125,3141738,147888097,266
29,8/28/2015,1440720000,72845327.53125,94.698925790625,1.30,18687,4758,355.2287,0.0077,9925148370505206658,92879907335,4653,691,18.57,24225.15625,3141816,111903559,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,8/8/2019,1565222400,107241830.65625,23719.748104549375,221.18,72507060,692736,182923.0343,0.8718,390582468011035092924,12955325988,6384,21149,13.26,13520.9375,8002988,44510800538,447
1471,8/9/2019,1565308800,107255370.78125,22574.0378883296875,210.47,72590239,721762,181114.8757,0.8392,411540538046807360326,13282666611,6420,21193,13.17,13540.125,8003036,43062666206,414
1472,8/10/2019,1565395200,107269101.59375,22125.324894726875,206.26,72678252,630929,186207.4469,0.7712,321574615003184185734,12206554100,6496,18119,13.01,13730.8125,8002710,40025574152,437
1473,8/11/2019,1565481600,107282635.28125,23214.8894485096875,216.39,72771462,582507,181715.4689,0.7578,287094948965910305999,11603713466,6423,16995,13.17,13533.6875,8002795,38876611860,407
1474,8/12/2019,1565568000,107296314.40625,22669.5653077525,211.28,72876019,712949,184513.6914,0.8205,379614137912085464028,12880972727,6484,20175,13.01,13679.125,8003131,42552930746,418
1475,8/13/2019,1565654400,107309878.34375,22386.986820073125,208.62,72978743,698671,183968.9350,0.7947,442189111129727963975,18843208007,6427,20533,13.19,13563.9375,8003060,40869092248,419
1476,8/14/2019,1565740800,107323556.78125,20014.7701041353125,186.49,73062589,736647,182841.3072,0.8854,423557030430017902254,12123884054,6459,21869,13.12,13678.4375,8003024,45760235706,447
1477,8/15/2019,1565827200,107337063.96875,20205.1289214775,188.24,73143361,689076,182862.8915,0.8804,495115214127142572663,14148150754,6413,20987,13.23,13507.1875,8003282,45183685444,407
1478,8/16/2019,1565913600,107350735.53125,19903.8998748490625,185.41,73223928,718875,182737.0873,0.8358,380932535910019507834,12115168092,6449,21163,13.07,13671.5625,8003394,43127230037,457
1479,8/17/2019,1566000000,107364381.15625,19936.4919369040625,185.69,73306218,641106,186578.2674,0.7785,285605634390667735596,10569108357,6480,18717,13.07,13645.625,8003453,40334874395,402
1480,8/18/2019,1566086400,107377939.65625,20914.0013068478125,194.77,73386237,627260,179556.5396,0.7681,292731797020734277892,11034378823,6437,18467,13.18,13558.5,8002995,39565500580,404
1481,8/19/2019,1566172800,107391420.71875,21739.2452960965625,202.43,73458135,724461,179945.7710,0.8952,458941730801326585089,13799990972,6374,21289,13.29,13481.0625,8004217,45653690351,441
1482,8/20/2019,1566259200,107405043.46875,21110.4612937828125,196.55,73538608,733520,178785.0863,0.9052,469550973645114680538,13732033156,6432,21151,13.16,13622.75,8003298,46539627909,448
1483,8/21/2019,1566345600,107418673.90625,20121.66599611875,187.32,73626964,731500,177566.9045,0.9131,559503433834393622160,16137663683,6449,21228,13.09,13630.4375,8003379,47078815215,435
1484,8/22/2019,1566432000,107432131.65625,20491.604792113125,190.74,73699065,737144,171272.3935,0.8959,489346336601247561157,14728994674,6400,21494,13.24,13457.75,8002771,45865344353,388
1485,8/23/2019,1566518400,107445847.09375,20913.2596783275,194.64,73773430,733282,177598.6117,0.8940,457983069608466214636,13885136910,6468,21119,13.05,13715.4375,8002974,46225861903,467
1486,8/24/2019,1566604800,107459136.78125,20533.29185616125,191.08,73851723,684235,173067.8396,0.8563,392340555421209162162,12922493779,6315,19992,13.41,13289.6875,8003006,43261048592,391
1487,8/25/2019,1566691200,107472948.46875,20052.302725299375,186.58,73929420,677260,174801.3614,0.8991,511208664027388185841,13825531935,6572,22498,12.90,13811.6875,8002824,47256914426,403
1488,8/26/2019,1566777600,107486444.71875,20256.895371695625,188.46,73998342,750845,177089.2406,0.9371,632280199727374393642,17091718069,6363,24261,13.32,13496.25,8003100,47714174146,448
1489,8/27/2019,1566864000,107499984.90625,20120.7721749028125,187.17,74063381,748158,170420.4691,0.9132,498350931196932463906,14643027992,6415,22150,13.19,13540.1875,8002961,46838805967,419
1490,8/28/2019,1566950400,107513603.03125,18600.9284604365625,173.01,74132784,722262,173711.3269,0.9175,510605809006713976355,14687429096,6410,21543,13.17,13618.125,8003192,47047649342,470
1491,8/29/2019,1567036800,107527356.46875,18166.7468753953125,168.95,74200303,724189,179236.6472,0.9185,517001416257186821447,14972039939,6493,21323,12.99,13753.4375,8003133,47682883249,451
1492,8/30/2019,1567123200,107540979.09375,18122.80579687875,168.52,74260706,713194,180476.1969,0.9131,500215056063499390682,14683175769,6414,21067,13.09,13622.625,8003358,46849622757,470
1493,8/31/2019,1567209600,107554559.84375,18515.5174771015625,172.15,74320201,679773,177978.4232,0.9067,444688482057750218533,14081874858,6420,19888,13.20,13580.75,8003313,46539139676,440
1494,9/1/2019,1567296000,107568123.46875,18439.327725013125,171.42,74375474,690235,176687.9581,0.9140,456946080093521593610,14737729279,6402,20134,13.16,13563.625,8003142,46806044439,450
1495,9/2/2019,1567382400,107581753.65625,19231.31428359125,178.76,74433148,757539,178611.1120,0.9328,562905739994953286014,15926990579,6432,22052,13.14,13630.1875,8003528,47995961497,447
1496,9/3/2019,1567468800,107595237.34375,19273.5348653859375,179.13,74499132,751224,179057.3439,0.9420,552067618597657889646,14923674985,6401,21631,13.25,13483.6875,8003288,48244339421,403
1497,9/4/2019,1567555200,107608701.65625,18832.5988768603125,175.01,74557943,714432,175086.6283,0.9356,536606366121005796598,14800053906,6392,20683,13.14,13464.3125,8003518,47822191088,401
1498,9/5/2019,1567641600,107622333.46875,18767.182510280625,174.38,74626135,769872,178184.2536,0.9427,683625581690153623401,18537447007,6449,21712,13.10,13631.8125,8003433,48615446885,433
1499,9/6/2019,1567728000,107635895.21875,19065.5461200971875,177.13,74691099,768500,172733.3243,0.9474,729965679931923221810,18511322392,6383,22022,13.22,13561.75,8002570,48334114602,472

In [16]:
pd.to_datetime(dfBTCPrice.Date).values.astype(np.int64) // 10 ** 9

array([1230940800, 1231200000, 1231459200, ..., 1567123200, 1567382400,
       1567641600])

In [22]:
dfBTCPrice["UnixTimeStamp"] = pd.to_datetime(dfBTCPrice.Date).values.astype(np.int64) // 10 ** 9

In [24]:
dfBTCPrice.head()

                  Date BTC_Price  UnixTimeStamp
0  2009-01-03 00:00:00       0.0     1230940800
1  2009-01-06 00:00:00       0.0     1231200000
2  2009-01-09 00:00:00       0.0     1231459200
3  2009-01-12 00:00:00       0.0     1231718400
4  2009-01-15 00:00:00       0.0     1231977600